@model Entities.Foodkart
@{
    ViewData["Title"] = "AddVariant";
    Layout = null;
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Add Menu Varient</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Menu Varient</a></li>
                        <li class="breadcrumb-item active">Add Menu</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div>
            <div class="card" id="snackbar">Data Saved Successfully</div>
            <div class="card" id="snackbar2">Data Updated Successfully</div>
            <div class="card" id="snackbar3">Deleted.</div>
        </div>
        <div class="card">
            <div class="card-header bg-info text-white">
                <h5 class="card-title text-uppercase"><Strong><i class="fas fa-hamburger"></i> Add Menu Info</Strong></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Dish Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user" style="font-size:23px;"></i></span>
                                </div>
                                <input type="text" hidden asp-for="DishId" class="form-control" />
                                <input type="text" asp-for="DishName" class="form-control" />

                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Dish Image</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-phone" style="font-size:23px;"></i></span>
                                </div>
                                <input type="file" asp-for="DishImage" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>MRP</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-rupee" style="font-size:23px;"></i></span>
                                </div>
                                <input type="number" asp-for="MRP" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Selling Cost</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-rupee" style="font-size:23px;"></i></span>
                                </div>
                                <input type="number" asp-for="SellingCost" onchange="comparedishValue();" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Quantity</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-sort-amount-up" style="font-size:23px;"></i></span>
                                </div>
                                <input type="text" asp-for="DishQuantity" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Description</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-info-circle" style="font-size:23px;"></i></span>
                                </div>
                                <input type="text" asp-for="DishDescription" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="form-group">
                    <div id="loader_spinner" style="display: none;" class="overlay-spinner"></div>
                    <button type="button" id="btninsertupdate" onclick="AddOrUpdateVarient();" class="btn btn-primary">Save</button>
                    <a href="/Menu" class="btn btn-info float-right" style="text-align:right;">Back To List</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="Index">Back to List</a>
</div>

<script>
    function comparedishValue() {
        var mPrice = $("#MRP").val();
        var sPrice = $("#SellingCost").val();

        if (parseFloat(sPrice) >= parseFloat(mPrice)) {
            $("#SellingCost").val("");
            showerrors("The discounted price should be lower than the original dish price. Please enter a valid discount.");

        }
    }

    function AddOrUpdateVarient() {
        Show_Loader();
        setTimeout(function () {
            if (validateVarient()) {
                let param = {
                    DishId: $("#DishId").val(),
                    DishName: $("#DishName").val(),
                    MRP: $("#MRP").val(),
                    SellingCost: $("#SellingCost").val(),
                    DishQuantity: $("#DishQuantity").val(),
                    DishDescription: $("#DishDescription").val(),
                };
                var Menu = new FormData();
                Menu.append("DishId", param.DishId);
                Menu.append("DishName", param.DishName);
                Menu.append("MRP", param.MRP);
                Menu.append("SellingCost", param.SellingCost);
                Menu.append("DishQuantity", param.DishQuantity);
                Menu.append("DishDescription", param.DishDescription);
                Menu.append("ImagePath", $("#DishImage").prop('files')[0]);

                $.ajax({
                    url: '/Menu/AddOrUpdateVariant',
                    type: 'POST',
                    data: Menu,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        Hide_Loader();
                        showinsertsuccess("New Menu Details Add Successfully");
                    },
                    error: function () {
                        Hide_Loader();
                        showerrors("Sorry Something went wrong!!!");
                    }
                });
            }
        }, 1500)
    }
    function validateVarient() {
        let isvalidated = true;
        let msg = "<ul>";

        function addError(message) {
            msg += `<li>${message}</li>`;
            isvalidated = false;
        }
        if ($("#DishName").val() === "") {
            addError("Please enter name");
        }
        if ($("#MRP").val() === "") {
            addError("Please enter  MRP");
        }
        if ($("#SellingCost").val() === "") {
            addError("Please enter  SellingCost");
        }
        if ($("#DishDescription").val() === "") {
            addError("Please enter description");
        }
        if ($("#Quantity").val() === "") {
            addError("Please enter quantity");
        }

        if (!isvalidated) {
            msg += "</ul>";
            Hide_Loader();
            showerrors(msg);
        }

        return isvalidated;
    }


    function Show_Loader() {
        jQuery(".overlay-spinner").show();
    }

    function Hide_Loader() {
        jQuery(".overlay-spinner").hide();
    }
    function showinsertsuccess(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
        jQuery("#snackbar").html(msg);
    }

    function showupdatesuccess(msg) {
        var x = document.getElementById("snackbar2");
        x.className = "show2";
        setTimeout(function () { x.className = x.className.replace("show2", ""); }, 4000);
        jQuery("#snackbar2").html(msg);
    }

    function showerrors(msg) {
        var x = document.getElementById("snackbar3");
        x.className = "show3";
        setTimeout(function () { x.className = x.className.replace("show3", ""); }, 4000);
        jQuery("#snackbar3").html(msg);
    }

</script>


