<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link href="~/account/account.css" rel="stylesheet" />
</head>
<body>
    <div style="min-height: 500px;">
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted" style="text-align:center;">
        <div class="container">

            &copy; 2024 - RetroReserve All Right Reserve -
        </div>
    </footer>
    <script src="~/account/account.js"></script>
</body>
</html>