@model Entities.DishCategory
@{
    ViewData["Title"] = "AddDishCategoryMenu";
    Layout = null;
}
<div class="modal fade" id="Modaldishcategory" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sent Message</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container mt-3">
                    <div>
                        <div class="card" id="snackbar"></div>
                        <div class="card" id="snackbar2"></div>
                        <div class="card" id="snackbar3"></div>
                    </div>
                    <div class="container py-3">
                        <div class="card">
                            <div class="card-header bg-info text-white">
                                <h5 class="card-title text-uppercase"><Strong><i class="fas fa-hamburger"></i> Dish Category Info</Strong></h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Category Name</label>
                                            <div class="input-group">
                                                <input type="text" hidden asp-for="DishCategoryId" class="form-control" />
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fa fa-user" style="font-size:23px;"></i></span>
                                                </div>
                                                <input type="text" asp-for="DishCategoryName" class="form-control" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Icon</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">&#8377;</span>
                                                </div>
                                                <input type="text" asp-for="Icon" class="form-control" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="form-group">
                                    <div id="loader_spinner" style="display: none;" class="overlay-spinner"></div>
                                    <button type="submit" id="btnubmit" onclick="AddOrUpdateDishCategory();" class="btn btn-primary">Submit</button>
                                    <a href="/Category/CategoryList" class="btn btn-primary" style="text-align:right;">Back To List</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    function AddOrUpdateDishCategory() {
        Show_Loader();
        setTimeout(function () {
            if (validateDishCategory()) {
                let param = {
                    DishCategoryId: $("#DishCategoryId").val(),
                    DishCategoryName: $("#DishCategoryName").val(),
                    Icon: $("#Icon").val(),
                };
                $.post("/Category/AddOrUpdateDishCategory", param).done(function (res) {
                    Hide_Loader();
                    showinsertsuccess("DishCategory Add Successfully");

                }).fail(function () {
                    Hide_Loader();
                    showerrors("Something went wrong!!!");
                })
            }
        }, 1500)
    }
    function validateDishCategory() {
        let isvalidated = true;
        let msg = "<ul>";

        function addError(message) {
            msg += `<li>${message}</li>`;
            isvalidated = false;
        }
        if ($("#DishCategoryName").val() === "") {
            addError("Please enter category name");
        }
        if ($("#Icon").val() === "") {
            addError("Please enter icon");
        }
        if (!isvalidated) {
            msg += "</ul>";
            Hide_Loader();
            showerrors(msg);
        }

        return isvalidated;
    }


    function Show_Loader() {
        jQuery(".overlay-spinner").show();
    }

    function Hide_Loader() {
        jQuery(".overlay-spinner").hide();
    }
    function showinsertsuccess(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
        jQuery("#snackbar").html(msg);
    }

    function showupdatesuccess(msg) {
        var x = document.getElementById("snackbar2");
        x.className = "show2";
        setTimeout(function () { x.className = x.className.replace("show2", ""); }, 4000);
        jQuery("#snackbar2").html(msg);
    }

    function showerrors(msg) {
        var x = document.getElementById("snackbar3");
        x.className = "show3";
        setTimeout(function () { x.className = x.className.replace("show3", ""); }, 4000);
        jQuery("#snackbar3").html(msg);
    }
</script>

