@model IEnumerable<Entities.Employees>
@{
    ViewData["Title"] = "Chefs";
    Layout = "_UserLayout";
}


<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Chefs</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Chefs</a></li>
    </ol>
</div>
<br />
<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">Meet Our Super Specialist Chefs</h1>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            @foreach (var item in Model)
            {
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="@item.Image" class="img-fluid rounded-top" style="width:300px;height:200px;" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@item.RoleName</div>
                    <div class="p-4 rounded-bottom">
                        <h5 style="width:auto;font:bolder ;font-size:large;font-weight:800;"><strong>@item.Name</strong></h5>
                        <p>A chef is a skilled culinary professional who specializes in the art and science of food preparation. </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


