@model Entities.DboyOrderSummary
@{
    ViewData["Title"] = "Dashboard";
    Layout = "_EmployeeLayout";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <br />
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.TodayOrder</h3>

                            <p>Active Orders</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <a href="/DeliveryBoy/MyOrder" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>@Model.DeliveredOrder<sup style="font-size: 20px"></sup></h3>

                            <p>Total Deliverd Orders</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <a href="/DeliveryBoy/MyOrder" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@Model.CancelledOrder</h3>

                            <p>Total Cancelled Order</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-close"></i>
                        </div>
                        <a href="/DeliveryBoy/MyOrder" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3> @Model.Commition</h3>
                            <p>Monthly Commition</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-rupee"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- ./col -->
            </div>
            <div id="ratingPV"></div>
        </div>
    </section>
    <!-- /.content -->
</div>
@section Scripts
{
    <script>
        function Rating() 
        {
            $.post('/Reviews_').done(function (res) {
                $("#ratingPV").html(res);
            }).fail(function () {

            });

        }
        Rating();

        // function DboyOrderSummary() {
        //     $.post('/DeliveryBoy/DboyOrderSummary').done(function (res) {
        //         $("#deliverdorder").val(res.deliveredOrder);
        //         console.log(res);
        //     }).fail(function () {

        //     });

        // }
        // DboyOrderSummary();
    </script>
}


