@using RetroReserve.Controllers
@model Login
@{
    ViewData["Title"] = "Login";
    Layout = "_Account";
}

<div class="video-container">
    <video autoplay loop muted>
        <source src="~/account/img/Delicious.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <!-- Your content goes here -->
    <div>
        <div id="accesspanel">
            <h1 id="litheader">RetroReserve</h1>
            <div>
                <div class="card" id="snackbar"></div>
                <div class="card" id="snackbar2"></div>
                <div class="card" id="snackbar3"></div>
            </div>
            <div class="inset">
                <p>
                    <input type="text" name="username" asp-for="Email" placeholder="Email address">
                </p>
                <p>
                    <div class="password-toggle">
                        <input type="Password" id="Password" placeholder="Enter your password">
                        <i class="fa fa-eye-slash" style="color:black;font-size:20px;" id="togglePassword"></i>
                    </div>
                </p>
                <div>
                    <div class="checkboxouter">
                        <input type="checkbox" name="rememberme" id="remember" value="Remember">
                        <label class="checkbox"></label>
                    </div>
                    <label for="remember">Remember me</label>
                </div>
                <div style="text-align: right; margin-top:-18px; color:white;"><a href="#" class="text-decoration-none text-muted" style="color:white;">Forgot Password</a></div>
                <input class="loginLoginValue" type="hidden" name="service" value="login" />
                <div style="margin-top:15px;">
                    <div id="loader_spinner" style="display: none;" class="overlay-spinner">Restro</div>
                    <input type="submit" name="Login" id="go" onclick="LoginUser();" value="Login">
                </div>
                <br />
                <div style="margin-top:62px;">
                    <a href="/Account/Register" class="text-decoration-none text-muted" style="color:white;">Don't Have an Account?</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function () {
        $("#togglePassword").click(function () {
            var passwordInput = $("#Password");
            var type = passwordInput.attr("type") === "password" ? "text" : "password";
            passwordInput.attr("type", type);
            $(this).toggleClass("fa-eye fa-eye-slash");
        });
    });


      function LoginUser() {
        document.getElementById("litheader").className = "poweron";
        var uname = $("#Email").val();
        var password = $("#Password").val();
        Show_Loader();
        setTimeout(function () {                               
        if (validateUser()) {
            var param = {
                Email: uname,
                Password: password,
            };
            $.post("/Account/Login", param).done(function (res) {
                debugger;
                    Hide_Loader();
                    showinsertsuccess("Login Successful");
                window.location.href = `${res}`;
                console.log(res);

            }).fail(function () {
                    Hide_Loader();
                    showerrors("Something went wrong!!!");
            });
          }
        }, 1500)
      }
    function validateUser() {
        let isvalidated = true;
        let msg = "<ul>";

        function addError(message) {
            msg += `<li>${message}</li>`;
            isvalidated = false;
        }
        if ($("#Email").val() === "") {
            addError("Please enter Email");
        }
        if ($("#Password").val() === "") {
            addError("Please enter  Password!!");
        }
        if (!isvalidated) {
            msg += "</ul>";
            Hide_Loader();
            showerrors(msg);
        }

        return isvalidated;
    }
    function Show_Loader() {
        jQuery(".overlay-spinner").show();
    }

    function Hide_Loader() {
        jQuery(".overlay-spinner").hide();
    }
    function showinsertsuccess(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
        jQuery("#snackbar").html(msg);
    }

    function showupdatesuccess(msg) {
        var x = document.getElementById("snackbar2");
        x.className = "show2";
        setTimeout(function () { x.className = x.className.replace("show2", ""); }, 4000);
        jQuery("#snackbar2").html(msg);
    }

    function showerrors(msg) {
        var x = document.getElementById("snackbar3");
        x.className = "show3";
        setTimeout(function () { x.className = x.className.replace("show3", ""); }, 4000);
        jQuery("#snackbar3").html(msg);
    }
  </script>