@using RetroReserve.Models;
@model RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = "_Account";
}

<div class="video-container">
    <video autoplay loop muted>
        <source src="~/account/img/Delicious.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <!-- Your content goes here -->
    <div>
        <div id="accesspanel">
            <h1 id="litheader">RetroReserve</h1>
            <div>
                <div class="card" id="snackbar"></div>
                <div class="card" id="snackbar2"></div>
                <div class="card" id="snackbar3"></div>
            </div>
            <div class="inset">
                <p>
                    <input type="text" name="name" asp-for="Name" placeholder="Name">
                </p>
                <p>
                    <input type="text" name="username" asp-for="Email" placeholder="Email address">
                </p>
                <p>
                    <input type="password" name="password" asp-for="Password" placeholder="Password">
                </p>
                <p>
                    <input type="password" name="password" asp-for="ConfirmPassword" placeholder="Confirm Password">
                </p>
                <p>
                    <input type="password" name="password" asp-for="Role" value="User" hidden>
                </p>
                <div>
                    <div class="checkboxouter">
                        <input type="checkbox" name="rememberme" id="remember" value="Remember">
                        <label class="checkbox"></label>
                    </div>
                    <label for="remember">Remember me</label>
                </div>
                <div style="text-align: right; margin-top:-18px;"><a href="#" class="text-decoration-none text-muted" style="color:white;">Forgot Password</a></div>
                <input class="loginLoginValue" type="hidden" name="service" value="login" />
                <div style="margin-top:15px;">
                    <div id="loader_spinner" style="display: none;" class="overlay-spinner">RetroReserve</div>
                    <input type="submit" name="Login" id="go" onclick="RegisterUser();" value="Register Now">
                </div>
                <div style="margin-top:62px;">
                    <a href="/Account/Login" class="text-decoration-none text-muted" style="color:white;">Have account?</a>
                </div>
            </div>


        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>

    function generateRandomPassword() {
    var uppercaseChars = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    var lowercaseChars = "abcdefghijklmnopqrstuvwxyz";
    var digitChars = "0123456789";
    var specialChars = "#$%&*";

        var getRandomChar = (charSet) => {
            var index = Math.floor(Math.random() * charSet.length);
        return charSet.charAt(index);
    };

    var password = [
        getRandomChar(uppercaseChars),
        getRandomChar(lowercaseChars),
        getRandomChar(digitChars),
        getRandomChar(specialChars),
        getRandomChar(uppercaseChars + lowercaseChars + digitChars + specialChars),
        getRandomChar(uppercaseChars + lowercaseChars + digitChars + specialChars),
        getRandomChar(uppercaseChars + lowercaseChars + digitChars + specialChars),
    ].join('');

    return password;
}
    function RegisterUser() {
        document.getElementById("litheader").className = "poweron";
        var uname = $("#Name").val();
        var email = $("#Email").val();
        var password = $("#Password").val();
        var confirmPassword = $("#ConfirmPassword").val();
        var role = $("#Role").val();
        const options = {
            RequireDigit: true,
            RequiredLength: 5,
            RequireLowercase: true
        };

        const pass = generateRandomPassword();
        console.log(pass);
        Show_Loader();
        setTimeout(function () {
        if (validateUser()) {
            var param = {
                Name: uname,
                Email: email,
                Adhaar: pass,
                Role: role,
                Password: password,
                ConfirmPassword: confirmPassword,
            };
            $.post("/Account/Register", param).done(function (res) {
                    Hide_Loader();
                    showinsertsuccess("Register Successful");
                if (res == 1) {
                    window.location.href = "/Account/Login";
                }
                else {
                        Hide_Loader();
                        showerrors("Invalid Email!!");
                }


            }).fail(function () {
                    Hide_Loader();
                    showerrors("Something went wrong!!");
            });
        }
        }, 1500)

    }

    function validateUser() {
        let isvalidated = true;
        let msg = "<ul>";

        function addError(message) {
            msg += `<li>${message}</li>`;
            isvalidated = false;
        }
        if ($("#Name").val() === "") {
            addError("Please enter name");
        }
        if ($("#Email").val() === "") {
            addError("Please enter Email");
        }
        if ($("#Role").val() === "") {
            addError("Please select role!!");
        }
        if ($("#Password").val() === "") {
            addError("Please enter  Password!!");
        }
        if ($("#ConfirmPassword").val() === "") {
            addError("Please enter  confirmPassword!!");
        }
        if (!isvalidated) {
            msg += "</ul>";
            Hide_Loader();
            showerrors(msg);
        }

        return isvalidated;
    }


    function Show_Loader() {
        jQuery(".overlay-spinner").show();
    }

    function Hide_Loader() {
        jQuery(".overlay-spinner").hide();
    }
    function showinsertsuccess(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
        jQuery("#snackbar").html(msg);
    }

    function showupdatesuccess(msg) {
        var x = document.getElementById("snackbar2");
        x.className = "show2";
        setTimeout(function () { x.className = x.className.replace("show2", ""); }, 4000);
        jQuery("#snackbar2").html(msg);
    }

    function showerrors(msg) {
        var x = document.getElementById("snackbar3");
        x.className = "show3";
        setTimeout(function () { x.className = x.className.replace("show3", ""); }, 4000);
        jQuery("#snackbar3").html(msg);
    }
</script>