
@{
    ViewData["Title"] = "UserAddress";
    Layout = "_UserLayout";
}
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Address</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/Home">Home</a></li>
        <li class="breadcrumb-item active text-white">Address</li>
    </ol>
</div>

<div class="container-fluid vesitable py-5">
    <div class="container py-5">
        <h1 class="mb-0">All Saved Address</h1>
        <div style="padding:20px 0px 20px;" onclick="EditAddress();">
            <button type="button" class="btn btn-primary border-2 border-secondary py-3 px-4 text-white">Create New</button>
       </div>
        <div class="owl-carousel vegetable-carousel justify-content-center">
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle fa fa-ellipsis-v text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;" data-bs-toggle="dropdown"></a>
                    <div class="dropdown-menu m-0 bg-secondary rounded-0">
                        <a class="dropdown-item fa fa-edit" onclick="EditAddress();"></a>
                        <a class="dropdown-item fa fa-trash" style="color:chartreuse;"></a>
                    </div>
                </div>
                
                <div class="p-4 rounded-bottom">
                    <h4>faraz ahmad</h4>
                    <p>Apt. 144 13191 Tien Cliff, North Andraland, TX</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">226022</p>
                        <br />
                        <p class="text-dark fs-5 fw-bold mb-0">9116269774</p>
                       
                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="fa fa-ellipsis-v text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;"></div>
                <div class="p-4 rounded-bottom">
                    <h4>faraz ahmad</h4>
                    <p>Apt. 144 13191 Tien Cliff, North Andraland, TX</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">226022</p>
                        <br />
                        <p class="text-dark fs-5 fw-bold mb-0">9116269774</p>

                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="fa fa-ellipsis-v text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;"></div>
                <div class="p-4 rounded-bottom">
                    <h4>faraz ahmad</h4>
                    <p>Apt. 144 13191 Tien Cliff, North Andraland, TX</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">226022</p>
                        <br />
                        <p class="text-dark fs-5 fw-bold mb-0">9116269774</p>
                       
                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="fa fa-ellipsis-v text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;"></div>
                <div class="p-4 rounded-bottom">
                    <h4>faraz ahmad</h4>
                    <p>Apt. 144 13191 Tien Cliff, North Andraland, TX</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">226022</p>
                        <br />
                        <p class="text-dark fs-5 fw-bold mb-0">9116269774</p>

                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="fa fa-ellipsis-v text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;"></div>
                <div class="p-4 rounded-bottom">
                    <h4>faraz ahmad</h4>
                    <p>Apt. 144 13191 Tien Cliff, North Andraland, TX</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">226022</p>
                        <br />
                        <p class="text-dark fs-5 fw-bold mb-0">9116269774</p>

                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="fa fa-ellipsis-v text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;"></div>
                <div class="p-4 rounded-bottom">
                    <h4>faraz ahmad</h4>
                    <p>Apt. 144 13191 Tien Cliff, North Andraland, TX</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">226022</p>
                        <br />
                        <p class="text-dark fs-5 fw-bold mb-0">9116269774</p>

                    </div>
                </div>
            </div>
            <div class="border border-primary rounded position-relative vesitable-item">
                <div class="vesitable-img">
                    <img src="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
                </div>
                <div class="fa fa-ellipsis-v text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;"></div>
                <div class="p-4 rounded-bottom">
                    <h4>faraz ahmad</h4>
                    <p>Apt. 144 13191 Tien Cliff, North Andraland, TX</p>
                    <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">226022</p>
                        <br />
                        <p class="text-dark fs-5 fw-bold mb-0">9116269774</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="AddressPV"></div>
</div>
<script>
    function EditAddress(Id) {

        let param = {
            id: Id,
        };
        $.post("/Address/EditAddress", param).done(function (res) {
            $("#AddressPV").html(res);
            $("#AddressModal").modal("show");
        }).fail(function () {
            alert("errror");
        })
    }

    function UpdateBannerStatus(Id) {
        var id = $("#customSwitch3_" + Id).prop("checked");
        if (id == true) {
            id = 1;
        } else {
            id = 0;
        }
        var param = {
            BannerId: Id,
            Status: id,
        };
        Swal.fire({
            title: 'Are you sure you want to Update?',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, Update it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: '/Banners/UpdateStatus',
                    type: 'POST',
                    data: param,
                    success: function (data) {
                        showinsertsuccess("Banner Updated Successfully");
                        window.location.href = "/Banners/BannerList";
                    },
                });
            } else {

                showerror("Status Not Updated");
                window.location.href = "/Banners/BannerList";
            }
        });
    }

    function Show_Loader() {
        jQuery(".overlay-spinner").show();
    }

    function Hide_Loader() {
        jQuery(".overlay-spinner").hide();
    }
    function showinsertsuccess(msg) {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 4000);
        jQuery("#snackbar").html(msg);
    }

    function showupdatesuccess(msg) {
        var x = document.getElementById("snackbar2");
        x.className = "show2";
        setTimeout(function () { x.className = x.className.replace("show2", ""); }, 4000);
        jQuery("#snackbar2").html(msg);
    }

    function showerrors(msg) {
        var x = document.getElementById("snackbar3");
        x.className = "show3";
        setTimeout(function () { x.className = x.className.replace("show3", ""); }, 4000);
        jQuery("#snackbar3").html(msg);
    }

</script>

