@model Entities.AppReviews
@{
    ViewData["Title"] = "InsertAReview";
    Layout = "_UserLayout";
}

<style>
    .stars {
        justify-content: space-between;
    }

        .stars i {
            color: #fff;
            font-size: 25px;
            align-items: center;
            text-shadow: 1px 1px 0.2px black;
            cursor: pointer;
        }

    .active {
        color: #679d06 !important;
        transform: scale(1.2) !important;
    }
</style>
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Reviewing the Application</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active text-white">Review</li>
    </ol>
</div>
<div style="border: 2px solid #679d06; border-radius: 20px 0px; margin:20px;padding:20px; text-align:center;" class="card">
    <h4 class="mb-5 fw-bold">Share Your Feedback</h4>
    <br />
    <div class="row g-4 justify-content-center">
        <div class="col-lg-6">
            <div class="col-lg-12">
                <div class="border-bottom rounded my-4" style="text-align:center;">
                    <textarea name="" asp-for="Comment" class="form-control border-0" cols="30" rows="3" placeholder="Your Review *" spellcheck="true"></textarea>
                </div>
            </div>

        </div>
        <div class="float-right" style="text-align:center;">
            <button type="submit" class="btn btn-primary border-2 border-secondary py-3 px-4  rounded-pill text-white" onclick="ReviewIt();">Sent Review</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="modal fade" id="Review" role="dialog" data-backdrop="static" data-keyboard="false" style="opacity:1;">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="card mb-12">
                            <div class="card-body">
                                <div>
                                    <div class="card" id="snackbar4">Data Saved Successfully</div>
                                    <div class="card" id="snackbar5">Deleted.</div>
                                </div>
                                <div class="container" style="text-align:center;">
                                    <h5><strong>We value your experience</strong></h5>
                                    <p>Please rate your satisfaction:</p>
                                    <div class="stars">
                                        <i class="fa fa-star" data-value="1" onclick="AddAReview(1);"></i>
                                        <i class="fa fa-star" data-value="2" onclick="AddAReview(2);"></i>
                                        <i class="fa fa-star" data-value="3" onclick="AddAReview(3);"></i>
                                        <i class="fa fa-star" data-value="4" onclick="AddAReview(4);"></i>
                                        <i class="fa fa-star" data-value="5" onclick="AddAReview(5);"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const stars = document.querySelectorAll(".stars  i");
    console.log(stars);

    stars.forEach((star, index1) => {
        star.addEventListener("mouseover", () => {
            stars.forEach((star, index2) => {
                index1 >= index2
                    ? (star.style.transform = "scale(1.2)")
                    : (star.style.transform = "scale(1)");
            });
        });
        star.addEventListener("mouseout", () => {
            star.style.transform = "scale(1)";
        });
        star.addEventListener("click", () => {
            stars.forEach((star, index2) => {
                index1 >= index2
                    ? star.classList.add("active")
                    : star.classList.remove("active");
            });
        });
    });
    function AddAReview(rating) {
        var param = {
            Comment: jQuery("#Comment").val(),
            Rating: rating,
        };
        $.post("/Reviews/AddOrUpdateAReview", param).done(function (response) {
            setTimeout(function () {
                Swal.fire({
                    title: 'Success',
                    text: 'Thank You!!',
                    icon: 'success',
                }).then((data) => {
                    window.location.href = "/Account/Logout"; 
                });
            }, 1500);
        }).fail(function () {
            alert("error");
        });
    }

    function validateAReview() {
        let isvalidated = true;
        let msg = "<ul>";

        function addError(message) {
            msg += `<li>${message}</li>`;
            isvalidated = false;
        }
        if ($("#Comment").val() === "") {
            addError("Please enter comment");
        }

        if (!isvalidated) {
            msg += "</ul>";
            Hide_Loader();
            Swal.fire({
                title: 'error',
                text: 'Please enter comment',
                icon: 'error',
            })
        }

        return isvalidated;
    }


    function ReviewIt() {
        if (validateAReview()) {
            $("#Review").modal("show");
        }

    }
    function errors(msg) {
        var x = document.getElementById("snackbar5");
        x.className = "show5";
        setTimeout(function () { x.className = x.className.replace("show5", ""); }, 4000);
        jQuery("#snackbar5").html(msg);
    }
</script>