@model IEnumerable<Entities.Banners>
    @{
    ViewData["Title"] = "ShowBanner1";
    }


<div class="carousel-inner" role="listbox">
    @foreach (var item in Model)
    {
        <div class="carousel-item @(item == Model.First() ? "active" : "") rounded">
            <video class="img-fluid w-100 h-100 bg-secondary rounded" controls autoplay>
                <source src="@item.BannerImage" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <a href="@item.ProductLink" class="btn px-4 py-2 text-white rounded">@item.BannerOfferName</a>
        </div>
    }
</div>





