@model IEnumerable<Entities.Banners>
@{
    ViewData["Title"] = "ShowBanner2";
}

<div class="row g-4 justify-content-center">
    @foreach (var item in Model)
    {
        <div class="col-md-6 col-lg-4">
            <a href="#">
                <div class="service-item bg-secondary rounded border border-secondary">
                    <img src="@item.BannerImage" class="img-fluid rounded-top w-100" style="height:200px;" alt="">
                    <div class="px-4 rounded-bottom">
                        <div class="service-content bg-primary text-center p-4 rounded">
                            <h5 class="text-white">@item.BannerOfferName</h5>
                            <h3 class="mb-0">@item.Offer</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
    
</div>

